$main_theme_color: #ffa323;
$secondary_theme_color: #000;
$section_background_color: rgba(66, 66, 66, 0.1);

body {
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
}

.btn-custom {
    padding: 10px 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0;
    font-size: 20px;
    font-weight: 700;
}

// Navbar
nav.bg-custom {
    background-color: $main_theme_color;  
    
    a.navbar-brand {
        font-weight: 900;
        font-style: italic;
    }

    ul.navbar-nav {

        li.nav-item {

            a.nav-link {
                color: #000;
            }

            a.nav-link:hover {
                color: #666;
            }
        }
    }

}

// Header

header {
    padding: 100px;
    background-color: $secondary_theme_color;
    color: #ddd;
    text-align: center;
    
    h1 {
        margin: 30px;
        font-weight: 900;
    }

    h3 {
        font-style: italic;
        margin: 30px;
    }
}

// Main

main {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $section_background_color;
    min-height: 500px;

    h2 {
        font-weight: 900;
        font-style: italic;
        margin-bottom: 50px;
    }

    .row {
        margin: 10px;
        .col-md-4 {
            padding: 10px;
            box-sizing: border-box;

            .card {
                text-align: center;
                padding: 15px;
                border-radius: 0;
                border: 1px solid rgba(0, 0, 0, 0.25);

                .card-title {
                    font-weight: 700;
                }

                .card-text {
                    font-style: italic;
                    color: #666;
                }
            }
        }
    }
}

footer {
    background: #000;
    height: 100px;
    color: #fff;
    line-height: 100px;
}

input[type=submit] {
    margin-top: 30px;
}

.password-warning {
    margin-top: 10px;
    color: red;
    font-weight: 700;
    height: 30px;
}