$main_theme_color: #ffa323;
$secondary_theme_color: #000;
$section_background_color: rgba(66, 66, 66, 0.1);

body {
    font-family: 'Roboto', sans-serif;
}

p, ol {
    margin: 0;
}

.btn-custom {
    padding: 10px 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0;
    font-size: 20px;
    font-weight: 700;
}

// Navbar
nav.bg-custom {
    background-color: #000;    
    a.navbar-brand {
        font-weight: 900;
        font-style: italic;
        color: #fff;
    }

    a.navbar-brand:hover {
        color: #666;
    }

    ul.navbar-nav {

        span.navbar-text {
            color: #fff;
        }
        
        li.nav-item {

            a.nav-link {
                color: #fff;
            }

            a.nav-link:hover {
                color: #666;
            }
        }
    }

}

// Header

header {
    padding: 100px;
    background: url("../images/home-bg.jpg");
    background-size: cover;
    background-position-y: 500px;
    text-align: center;
    height: 400px;
    
    h1 {
        margin: 30px;
        font-weight: 900;
        font-size: 60px;
    }

    h3 {
        font-style: italic;
        margin: 30px;
    }

    a.btn {
        background: #000;
        color: #fff;
    }
}

// Main

main {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $section_background_color;
    min-height: 500px;

    h2 {
        font-weight: 900;
        font-style: italic;
        margin-bottom: 50px;
    }

    .blog {
        padding: 20px;

        a.blog-clickable {
            display: inline-block;
            text-decoration: none;
            color: #000;
        }

        a.blog-clickable:hover {
            color: #007bff;
        }
    }
}

footer {
    background: #000;
    height: 100px;
    color: #fff;
    line-height: 100px;
}

input[type=submit] {
    margin-top: 30px;
}

.password-warning {
    margin-top: 10px;
    color: red;
    font-weight: 700;
    height: 30px;
}

.blog {
    padding: 20px;

    h3.title {
        font-weight: 900;
        font-size: 40px;
    }

    h5.author {
        font-style: italic;
        text-decoration: underline;
        font-size: 18px;
    }

    .content {
        min-height: 50px;
        margin-bottom: 20px;
        font-size: 25px;
    }

    .ratings {
        height: 20px;
    }

    .rating-box {
        display: inline-block;
        height: 100%;
        width: 50px;

        a {
            i {
                color: #212529;
            }
        }

        a:hover {
            i {
                color: #666;
            }
        }
    }

    .blog-actions {
        margin-top: 20px;
    }
}