{% extends 'base.html' %}

{% block title %}
Hey guys
{% endblock %}

{% block body %}
    <header>
        <h1 class="text-center">Blog App</h1>
        <h3 class="text-center">Create and Read Blogs</h3>
        <a href="{{ url_for('register') }}" class="btn btn-light btn-custom">Register</a>
        <a href="#" class="btn btn-light btn-custom">Login</a>
    </header>
    <main>
        <div class="container">
            <h2 class="text-center">Our Favorite Blogs</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Lorem, ipsum.
                            </h5>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, nesciunt?....
                            </p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Lorem, ipsum.
                            </h5>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, nesciunt?....
                            </p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Lorem, ipsum.
                            </h5>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, nesciunt?....
                            </p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Lorem, ipsum.
                            </h5>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, nesciunt?....
                            </p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Lorem, ipsum.
                            </h5>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, nesciunt?....
                            </p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Lorem, ipsum.
                            </h5>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, nesciunt?....
                            </p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}